version: "3"
services:
  postgres:
    image: timescale/timescaledb:latest-pg14
    container_name: finance_postgres
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: finance
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data

  redis:
    image: redis:alpine
    container_name: finance_redis
    ports:
      - "6379:6379"

volumes:
  pgdata:
